{% extends "base.html" %}
{% block content %}
<button><a href="{% url 'exibition:owner-create' %}">Add new Owner</a></button>
<br>
<hr>
<h5>List of owners:</h5>
<hr>
<ul>
{% for owner in owners %}
<li>
    <a href="{% url 'exibition:owner-detail' owner.id %}">{{ owner.user.first_name }} {{ owner.user.last_name }}</a>
    <ul>
        <li><a href="{% url 'exibition:owner-update' owner.id %}">Update Info for {{ owner.user.first_name }}</a></li>
        <li><a href="{% url 'exibition:owner-delete' owner.id %}">Delete Owner '{{ owner.user.first_name }}'</a></li>
    </ul>
</li>

{% endfor %}
</ul>



{% endblock content %}
